/* .genres-page {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 40px 20px;
    min-height: 100vh;
    border-radius: 20px;
  }
  
  .genres-page h2 {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
    color: #f5f5f5;
  }
  
  .song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
   */